
/* most flex properties should be applied to the main(largest) container
and will then affect the items within the container */
body{
    background-color: rgb(15, 97, 163);
    display: flex;
    height: 100vh; 
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    /* vh and vw makes it take up the full screen height and width */
}
section {
    display: flex;
    background-color: rgb(9, 9, 89);
    height: 150px;
    width: 150px;    
    flex-direction: column;
    align-items: center;
    align-content: center;
  } 

.smallbox div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 20px;
    width: 20px;
    justify-content:center;
    
  }

  div{
    background-color: blue;
    height: 10px;
    width: 10px;
    outline: 1px solid white;
  }