body{
    background-color: snow;
    display: flex;
    align-content: center;
    justify-content: center;
}
h2{
    font-size: 30px;
}

#btnContainer{
    display:flex;
    justify-content: center;
}
.btns{
    border-radius: 1rem;
    height: 10px;
    width: 100px;
    margin: 3rem;
    padding: 2rem;
    background-color: red;
    font-weight: bold;
}